target
builds/*
!builds/.gitkeep
.vim
.gdb_history
*__pycache__*

# OVMF UEFI firmware
OVMF-pure-efi.fd

# Disk images
*.qcow2
*.raw

# Byproducts
*compile_commands.json
*.cache/

# vs code folder 
.vscode/*nested.raw
scripts/new-vm/qemu-serial.txt
